* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/* variables */
:root {
  --primary: rgb(118, 0, 187);
  --text: rgb(27, 0, 43);
  --bg: rgb(252, 246, 255);
  --white: rgb(255, 255, 255);

  --showdow: 0 0 10px rgba(17, 17, 17, 0.1);

  --font-light: 300;
  --font-bold: 600;
  --font-xbold: 700;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-light);
  background-color: var(--bg);
}

img {
  width: 100%;
}

/* navbar */
.navbar {
  padding: 1.5rem 2rem;
  box-shadow: var(--showdow);
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  background-color: var(--white);
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.navbar__logo {
  cursor: pointer;
}

.navbar__logo h1 {
  font-size: 2rem;
  font-weight: var(--font-bold);
  color: var(--text);
}

.navbar__logo h1 span {
  color: var(--primary);
}

.header {
  margin-top: 8rem;
  padding: 0 2rem;
  width: 100%;
}

.header .container h1 {
  font-size: 4rem;
  font-weight: var(--font-xbold);
  max-width: 40rem;
  width: 100%;
  line-height: 1.2;
  color: var(--text);
}

.header .container h1 span {
  color: var(--primary);
}

.grid {
  padding: 0 2rem;
  margin-top: 3rem;
}

.grid__container {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
}

.grid__item {
  background-color: var(--white);
  border-radius: 0.8em;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.grid__item:hover {
  transform: scale(1.04);
}

.grid__item--img {
  width: 100%;
}

.grid__item--info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--white);
  padding: 1rem 0;
}

.grid__item--text {
  padding: 0 1.3rem;
}

.grid__item--text h3 {
  font-size: 1.6rem;
  color: var(--text);
  font-weight: var(--font-bold);
}

.preview {
  margin: 0 2rem;
}

.fab,
.fas {
  color: var(--primary);
  font-size: 1.6rem;
}

footer {
  background-color: var(--text);
  padding: 6rem 0;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container p {
  color: var(--white);
  font-size: 1.5rem;
}

footer .container p a {
  text-decoration: none;
  color: var(--white);
}

footer .container p a:hover {
  text-decoration: underline;
}
