@import "../styles/mixins";

.layout {
  padding: 2rem;

  &__container {
    max-width: 114rem;
    margin: 0 auto;
  }

  &__fliter {
    @include flexbox(row, space-between, center);
    width: 100%;
    @media (max-width: 599px) {
      @include flexbox(column, center, flex-start);
    }
  }
}
