.primary {
  background: linear-gradient(to right, $Cyan, $Blue);
  border: none;
  outline: none;
  color: $White;
  font-weight: 700;
  width: 27.9rem;
  height: 5.5rem;
  border-radius: 2.7rem;
  font-size: 1.6rem;
}
