@import "../../styles//mixins";

.navbar {
  position: fixed;
  width: 100%;
  padding: 1.8rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  &__container {
    max-width: 114rem;
    margin: 0 auto;
    @include flexbox(row, space-between, center);
  }

  &__title {
    font-size: 2rem;
    font-weight: 800;
  }
  &__toggle {
    background: transparent;
    border: none;
    font-weight: 600;
    font-size: 1.4rem;
    @include flexbox(row, center, center);

    span {
      display: block;
      &:first-child {
        margin: 0.2rem 0.6rem 0 0;
      }
    }
  }
}
