.country {
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  overflow: hidden;

  &__flag {
    height: 16rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__info {
    padding: 1rem 2rem;

    h1 {
      font-size: 2rem;
      margin-bottom: 0.3rem;
    }

    p {
      font-weight: 600;
      margin-bottom: 0.4rem;

      span {
        font-weight: 300;
        margin-left: 0.5rem;
      }
    }
  }
}
