.primary {
  padding: 1.2rem 2rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  font-weight: map-get($font-weight, bold);
  background: $gradiant;
  color: $White;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}
