// Navbar
.navbar {
  position: relative;
  padding: 2rem;
  background-color: $White;
  z-index: 10;

  .container {
    margin: 0 auto;
    @include flexbox(row, space-between, center);
  }

  &__logo {
    width: 14rem;
  }

  &__menu {
    cursor: pointer;

    @include for-desktop-up {
      display: none;
    }

    &.open {
      & > span:first-child {
        transform: rotate(45deg);
      }
      & > span:nth-child(2) {
        opacity: 0;
      }
      & > span:last-child {
        transform: rotate(-45deg);
      }
    }

    & > span {
      display: block;
      height: 2px;
      width: 28px;
      background: $DarkBlue;
      transform-origin: 5px 2px;
      transition: all 0.3s ease;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }

  &__list {
    position: absolute;
    left: 50%;
    right: 50%;
    top: -600%;
    transform: translateX(-50%);
    z-index: 20;
    background-color: $White;
    width: 90%;
    border-radius: 0.4rem;
    transition: all 0.2s ease;
    @include flexbox(column, center, center);

    &.openList {
      top: 120%;
    }

    li {
      padding: 2rem 0;
      color: $DarkBlue;
      cursor: pointer;
      font-weight: map-get($font-weight, regular);
    }
  }

  &__lists {
    display: none;

    @include for-desktop-up {
      @include flexbox(row, center, center);

      li {
        position: relative;
        font-size: 1.4rem;
        transition: all 0.2s ease;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          width: 0%;
          height: 4px;
          background: $gradiant;
          left: 0;
          bottom: -198%;
          transition: all 0.2s ease;
        }

        &:hover::before {
          width: 100%;
        }

        &:hover {
          color: $DarkBlue;
        }

        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }

  &__cta {
    display: none;

    @include for-desktop-up {
      display: block;
    }
  }
}

// overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: linear-gradient(hsl(233, 8%, 62%), hsla(233, 8%, 62%, 0.089));
  opacity: 0;
  visibility: hidden;

  &.overlayOpen {
    opacity: 1;
    visibility: visible;
  }
}

// hero
.hero {
  background-color: $White;

  .container {
    @include for-tablet-portrait-up {
      max-width: 100%;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    min-height: 28rem;
    background: url("../../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include for-desktop-up {
      background: url("../../images/bg-intro-desktop.svg");
      height: 40rem;
      background-position: left center;
      flex: 3;
    }

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      margin: auto;
      left: 50%;
      transform: translateX(-50%);
      background: url("../../images/image-mockups.png");
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: center bottom;
    }
  }

  &__content {
    padding: 0 2rem;

    h1 {
      font-size: 4rem;
      color: $DarkBlue;
      font-weight: map-get($font-weight, regular);
      text-align: center;

      @include for-desktop-up {
        text-align: left;
      }
    }

    p {
      font-size: 1.4rem;
      line-height: 1.4;
      text-align: center;
      width: 100%;
      font-weight: map-get($font-weight, regular);
      margin: 2rem 0;

      @include for-desktop-up {
        text-align: left;
      }
    }

    &--cta {
      text-align: center;

      @include for-desktop-up {
        text-align: left;
      }
    }
  }
}
