// Colors
$Pink: hsl(322, 100%, 66%);
$LightPink: hsl(321, 100%, 78%);
$LightRed: hsl(0, 100%, 63%);

$verydarkcyan: hsl(192, 100%, 9%);
$VeryPaleBlue: rgb(246, 251, 255);

// Font size
$fontSize: (
  "font-sm": 1.6rem,
  "font-md": 3rem,
  "font-xl": 5rem,
  "font-xxl": 8rem,
);
