@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

button,
input {
  border: none;
  outline: none;

  &:active {
    border: none;
    outline: none;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.app {
  padding-top: 7rem;
}
